{% extends 'components/base.html' %}

{% block title %}
  {{ block.super }}
  Editar
{% endblock %}


{% block body %}

  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
      <!-- FORM -->
      <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">{{object.user.first_name}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Value</dt>
        <dd class="col-sm-9">{{object.value}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Data</dt>
        <dd class="col-sm-9">{{object.created}}</dd>
      </dl>

    </div>
  </div>
  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
    </div>
  </div>

{% endblock %}
