{% extends 'components/base.html' %}


{% block title %} {{ block.super }} Todos {% endblock title %}


{% block body %}
  <div class="row">
    <div class="col-md-12">
      <h2>Eventos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class='table'>
          <thead>
            <tr>
              <th>Usuário</th>
              <th>Data</th>
              <th>Período</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for credit in object_list %}
              <tr>
                <td>{{credit.name}}</td>
                <td>{{credit.created}}</td>
                <td>{{credit.value}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>


{% endblock %}
