{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >

  <!-- Optional theme -->
  {#<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">#}

  <title>{% block title %}Produtos - {% endblock title %}</title>
  {% block extra_css %}

  {% endblock %}
</head>

<body>
  {% include "components/navbar.html" %}

  <div class="container-fluid">
    {% include "components/messages.html" %}

    {% block body %}{% endblock %}
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.mask.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript">

    function validarCPF(cpf) {
    cpf = cpf.replace(/[^\d]+/g,'');
    if(cpf == '') return false;
    // Elimina CPFs invalidos conhecidos
    if (cpf.length != 11 ||
        cpf == "00000000000" ||
        cpf == "11111111111" ||
        cpf == "22222222222" ||
        cpf == "33333333333" ||
        cpf == "44444444444" ||
        cpf == "55555555555" ||
        cpf == "66666666666" ||
        cpf == "77777777777" ||
        cpf == "88888888888" ||
        cpf == "99999999999")
            return false;
    // Valida 1o digito
    add = 0;
    for (i=0; i < 9; i ++)
        add += parseInt(cpf.charAt(i)) * (10 - i);
        rev = 11 - (add % 11);
        if (rev == 10 || rev == 11)
            rev = 0;
        if (rev != parseInt(cpf.charAt(9)))
            return false;
    // Valida 2o digito
    add = 0;
    for (i = 0; i < 10; i ++)
        add += parseInt(cpf.charAt(i)) * (11 - i);
    rev = 11 - (add % 11);
    if (rev == 10 || rev == 11)
        rev = 0;
    if (rev != parseInt(cpf.charAt(10)))
        return false;
    return true;
  }

    $('#id_phone').mask('(00) 0 0000-0000', {placeholder: "(__) _ ____-____"});
    $('#id_birth').mask("00/00/0000", {placeholder: "__/__/____"});
    $('#id_cpf').mask('000.000.000-00', {reverse: true});


    $('#id_cpf').change(function(e){
      cpf = $(this).val();

      if (!(validarCPF(cpf.replace(/[^0-9]/g, '')))) {
        alert("CPF inválido!");
        $('#id_cpf').val('');
      }

    });

    </script>
  {% block extra_js %}

  {% endblock %}
</body>

</html>
