{% load form_tags %}
<div class="row">
  <div class="col-lg-12">

    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} fade show" role="alert">
          <h5>Mensagem</h5>
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
      <script>setTimeout(function(){$(".alert").remove();}, 5000);</script>
    {% endif %}

    {% if form and form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h5>Alerta</h5>
        <ul>
          {% for key, value in form.errors.items %}
          <li>{% get_label key form %} : {{ value|escape }}</li>
          {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
  </div>
</div>
