<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'core:index' %}">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">

      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="EventMenu" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eventos
          </a>
          <div class="dropdown-menu" aria-labelledby="EventMenu">
            <a class="dropdown-item" href="{% url 'event:list' %}">Listar</a>
            <a class="dropdown-item" href="{% url 'event:add' %}">Adicionar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="PeopleMenu" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuários
          </a>
          <div class="dropdown-menu" aria-labelledby="PeopleMenu">
            <a class="dropdown-item" href="{% url 'people:list' %}">Listar</a>
            <a class="dropdown-item" href="{% url 'people:add' %}">Adicionar</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Sair</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:login' %}">Entrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:sing_up' %}">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:certificate' %}">Certificado</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
