{% extends 'components/base.html' %}


{% block title %} {{ block.super }} Todos {% endblock title %}


{% block body %}
  <div class="row">
    <div class="col-md-12">
      <h2>Eventos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class='table'>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Data</th>
              <th>Período</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for event in object_list %}
              <tr>
                <td>{{event.name}}</td>
                <td>{{event.date}}</td>
                <td>{{event.period}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'event:detail' event.id %}" class="btn btn-primary">Ver</a>
                    <a href="{% url 'event:action:list' event.id %}" class="btn btn-primary">Ações</a>
                    <a href="{% url 'event:product:list' event.id %}" class="btn btn-primary">Produtos</a>
                    <a href="{% url 'event:participant:list' event.id %}" class="btn btn-primary">Participantes</a>
                    <a href="{% url 'event:edit' event.id %}" class="btn btn-secondary">Editar</a>
                    <a href="{% url 'event:delete' event.id %}" class="btn btn-danger">Deletar</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>


{% endblock %}
