{% extends 'components/base.html' %}

{% block title %}
  {{ block.super }}
  Editar
{% endblock %}


{% block body %}

  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
      <!-- FORM -->
      <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for fieldset in form.fieldsets %}
        <br>
        <fieldset>
          <legend>{{ fieldset.title }}</legend>
          <div class="row">
          {% for field in fieldset %}

            <div class="col-md-6">
            <div class="control-group">
              <label class="control-label">{{ field.label }}</label>
              <div class="controls">
                {{ field }}
                {% if field.help_text  %}
                  <span class="help-inline">
                    {% for error in field.errors %}{{ error }}{% endfor %}
                  </span>
                {% endif %}
              </div>
            </div>
        </div>
          {% endfor %}
          </div>
        </fieldset>
        {% endfor %}
        <div class="form-actions">
          <a href="{% url 'event:list' %}" class="btn btn-danger">Cancelar</a>
          <button type="submit" class="btn btn-success">Salvar</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
