{% extends 'components/base.html' %}

{% block title %}
  {{ block.super }}
  Editar
{% endblock %}


{% block body %}

  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
      <!-- FORM -->
      <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">{{object.name}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Data</dt>
        <dd class="col-sm-9">{{object.date}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Pulseiras</dt>
        <dd class="col-sm-9">{{object.get_total_codes}} - <a href="{{object.codes.url}}">baixar</a></dd>
      </dl>

    </div>
    <div class="col-md-6">
      <table class='table'>
        <thead>
          <tr>
            <th>Usuário</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for p in object.participant_event.all %}
            <tr>
              <td>{{p.user.first_name}}</td>
              <td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
      <a href="{% url 'event:code' event.id %}" class="btn btn-primary">Gerar códigos</a>
    </div>
  </div>

{% endblock %}
