{% extends 'components/base.html' %}

{% block title %}
  {{ block.super }}
  Editar
{% endblock %}


{% block body %}

  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
      <!-- FORM -->
      <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">{{object.user.get_full_name}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Data</dt>
        <dd class="col-sm-9">{{object.created}}</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <table class='table'>
        <thead>
          <tr>
            <th>Usuário</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for p in object.participant_event.all %}
            <tr>
              <td>{{p.user.first_name}}</td>
              <td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
    </div>
  </div>

{% endblock %}
