{% extends 'components/base.html' %}

{% load balance_tags %}

{% block title %} {{ block.super }} Todos {% endblock title %}


{% block body %}
  <div class="row">
    <div class="col-md-12">
      <h2>Participantes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'event:participant:add' event.id %}" class="btn btn-primary">Novo</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class='table'>
          <thead>
            <tr>
              <th>Usuário</th>
              <th>saldo</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for participant in object_list %}
              <tr>
                <td>{{participant.user.get_full_name}}</td>
                <td>{{participant.get_credit}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'event:participant:detail' event.id participant.id %}" class="btn btn-primary">Ver</a>
                    <a href="{% url 'event:participant:balance:addcredit' event.id participant.id  'C' %}" class="btn btn-primary">Adicionar créditos</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>


{% endblock %}
