{% extends 'components/base.html' %}


{% block title %} {{ block.super }} Todos {% endblock title %}


{% block body %}
  <div class="row">
    <div class="col-md-12">
      <h2>Ações</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'event:action:add' event.id  %}" class="btn btn-primary" > Novo </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class='table'>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Data</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for action in object_list %}
              <tr>
                <td>{{action.name}}</td>
                <td>{{action.date}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'event:action:detail' event.id action.id %}" class="btn btn-primary">Ver</a>
                    <a href="{% url 'event:action:check_in:detect' event.id action.id %}" class="btn btn-primary">CheckIn</a>
                    <a href="{% url 'event:action:edit' event.id action.id %}" class="btn btn-secondary">Editar</a>
                    <a href="{% url 'event:action:delete' event.id action.id %}" class="btn btn-danger">Deletar</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>


{% endblock %}
