{% extends 'components/base.html' %}

{% block title %}
  {{ block.super }}
  Editar
{% endblock %}


{% block body %}

  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
      <!-- FORM -->
      <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">{{object.name}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Data</dt>
        <dd class="col-sm-9">{{object.date}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Banner</dt>
        <dd class="col-sm-9">
          <img src="{{object.banner.url}}" alt="{{object.name}}" class="img-thumbnail">
        </dd>
      </dl>
    </div>
    <div class="col-md-6">
      <table class='table'>
        <thead>
          <tr>
            <th>Usuário</th>
            <th>Horário</th>
          </tr>
        </thead>
        <tbody>
          {% for c in object.check_in_action.all %}
            <tr>
              <td>{{c.participant.user.first_name}}</td>
              <td>
                {{c.created}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
    </div>
  </div>

{% endblock %}
