{% extends 'components/base.html' %}

{% block title %}
  {{ block.super }}
  Editar
{% endblock %}


{% block body %}

  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
      <!-- FORM -->
      <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">{{object.photo.name}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Foto</dt>
        <dd class="col-sm-9">
          <img src="{{object.photo.url}}" alt="{{object.photo.name}}" class="img-thumbnail">
        </dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
      <a href="{% url 'people:detail' object.user.id %}" class="btn btn-primary">Voltar</a>
    </div>
  </div>

{% endblock %}
