{% extends "components/base.html" %}

{% block body %}

  <div class="row">
    <div class="col-md-12">
      <h3>Você deseja deletar o user "{{ object }}" ?</h3>
      <form method="post" action="">
        {% csrf_token %}
        <br>
        <div class="row">
          <a class="btn btn-primary" href="{% url 'people:detail' user.id %}">
            Cancelar
          </a>
          <button class="btn btn-danger" type="submit" value="" class="btn green" >
            Deletar
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
