{% extends 'components/base.html' %}


{% block title %} {{ block.super }} Todos {% endblock title %}


{% block body %}
  <div class="row">
    <div class="col-md-12">
      <h2>Usuários</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'people:add' %}" class="btn btn-primary" > Novo </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class='table'>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>CPF</th>
              <th>Saldo</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for user in object_list %}
              <tr>
                <td>{{user.get_full_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.cpf}}</td>
                <td>{{user.balance}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'people:detail' user.id %}" class="btn btn-primary">Ver</a>
                    <a href="{% url 'people:edit' user.id %}" class="btn btn-secondary">Editar</a>
                    <a href="{% url 'people:delete' user.id %}" class="btn btn-danger">Deletar</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>


{% endblock %}
