{% extends 'components/base.html' %}

{% load static %}

{% block title %}
  {{ block.super }}
  Editar
{% endblock %}


{% block body %}

  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
      <!-- FORM -->
      <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">{{object.get_full_name}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">{{object.email}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">CPF</dt>
        <dd class="col-sm-9">{{object.cpf}}</dd>
      </dl>
    </div>
    <div class="col-md-6">

      <form class="" action="{% url 'people:picture' %}" method="post" class="form-inline" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          {{form.user}}
          <div class="col-md-6">
            {{form.photo}}
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary mb-2">Enviar</button>
            <button type="button" id="take" data-toggle="modal" data-target="#modal-foto" class="btn btn-primary mb-2">Tirar foto</button>
          </div>
        </div>
      </form>

      <table class='table'>
        <thead>
          <tr>
            <th>Foto</th>
            <th>Detectado</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for p in object.picture_user.all %}
            <tr>
              <td><img src="{{p.photo.url}}" width="70" /></td>
              <td>
                {% if p.face_found %}
                  <span class="badge badge-success">Success</span>
                {% else %}
                  <span class="badge badge-warning">Warning</span>
                {% endif %}
              </td>
              <td>
                <a class="btn btn-danger" href="{% url 'people:picture-delete' object.id p.id %}">
                  <span>Delete</span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <!-- COL -->
    <div class="col-md-6">
    </div>
  </div>

  <div class="modal" id="modal-foto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Foto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <video id="video" class="face-video" width="500" height="400" preload autoplay loop muted></video>
              <canvas id="canvas" class="face-canvas" width="500" height="400"></canvas>
              <img id='photo-img' src='' width="500" height="400"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="take-foto" class="btn btn-secondary">Tirar</button>
          <button type="button" id="send-foto" class="btn btn-secondary">Enviar</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}


{% block extra_js %}
  <script src="{% static 'js/tracking-min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/face-min.js' %}" type="text/javascript"></script>
  <script>
    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var localMediaStream = null;

    function sendImage(img) {
      formData = new FormData();
      formData.append('image', img);
      formData.append('user', '{{object.id}}');
      formData.append('csrfmiddlewaretoken', "{{csrf_token}}");

      $.ajax({
        url: "{% url 'people:picture-save' %}",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function (result) {
          console.log("Upload complete!");
          console.log(result);
          if (result.saved) {
            window.location.reload(true);
          }
        },
        error: function (error) {
          console.log("Something went wrong!");
        }
      });
    }

    $('#modal-foto').on('show.bs.modal', function (e) {
      $('#canvas').hide();
      $('#photo-img').hide();

      var snapshot = function() {
        if (localMediaStream) {
          // document.querySelector('a').href = i;
          $('#video').hide();
        	canvas.width = 500;
          canvas.height = 400;
          canvas.getContext('2d').drawImage(video, 0, 0, 500, 400);
          i = canvas.toDataURL('image/png');
          $('#photo-img').show();
          $('#photo-img').attr('src', i);
        }
      }

      video.addEventListener('click', snapshot, false);

      navigator.getUserMedia({video: true}, function(stream) {
        video.src = window.URL.createObjectURL(stream);
        localMediaStream = stream;
      }, function(error){console.error(error)});
    });

    $('#modal-foto').on('hide.bs.modal', function (event) {
      track = localMediaStream.getTracks()[0];
      track.stop();
    });

    $("#send-foto").click(function() {
      sendImage($('#photo-img').attr('src'));
    });

    $("#take-foto").click(function() {
      if (localMediaStream) {
        // document.querySelector('a').href = i;
        $('#video').hide();
      	canvas.width = 500;
        canvas.height = 400;
        canvas.getContext('2d').drawImage(video, 0, 0, 500, 400);
        i = canvas.toDataURL('image/png');
        $('#photo-img').show();
        $('#photo-img').attr('src', i);
      }
    });

  </script>

{% endblock %}
