{% extends "components/base.html" %}

{% load static %}

{% block body %}

  <div class="row">
    <div class="col-md-12">
      <h1 class="title" id="name">
        Check In {{event.name}}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <video id="video" class="face-video" width="500" height="400" preload autoplay loop muted></video>
    </div>
    <div class="col-md-6">
      <canvas id="canvas" class="face-canvas" width="500" height="400"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>

{% endblock %}


{% block extra_js %}
  <script src="{% static 'js/tracking-min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/face-min.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var tracker = new tracking.ObjectTracker('face');
    var localMediaStream = null;
    var event_name = "{{event.name}}";
    var action_name = "{{action.name}}";
    var detected = false;
    var send = false;
    $('#canvas').hide();

    tracker.setInitialScale(4);
    tracker.setStepSize(2);
    tracker.setEdgesDensity(0.1);
    tracking.track('#video', tracker, {camera: true});

    function notify(msg, kind){

      $(""+
        "<div id='notification' role='alert' class='alert alert-dismissible fade show alert-" + kind + "'>" +
          "<button class='close delete'><span aria-hidden='true'>&times;</span></button>" +
          msg +
        "</div>"
      ).insertAfter('.navbar')
      timeout = kind == "success" ? 4500 : 3000;
      setTimeout(function(){
        $('#notification').remove();
        detected = false;
        send = false;
      }, timeout);
    }

    $('.delete').click(function(){
      var elem = document.getElementById("notification");
      elem.parentNode.removeChild(elem);
    });

    function sendImage(img) {
      formData = new FormData();
      formData.append('image', img);
      //formData.append('csrfmiddlewaretoken', "{{ event.id }}");
      formData.append('csrfmiddlewaretoken', "{{csrf_token}}");

      $.ajax({
        url: "{% url 'event:action:check_in:detect' event.id action.id %}",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function (result) {
          console.log("Upload complete!");
          console.log(result);
          if ((result.detected) && (result.checkin) && (!result.exists)){
            detected = result.detected;
            notify(
              "Check in  de " + result.detected_user.name +
              " realizado na ação "+ action_name +
              " do evento evento" + event_name, "success");

          } else if ((result.detected) && (!result.checkin) && (result.exists)) {
            detected = result.detected;
            notify(
                "Check in  de " + result.detected_user.name +
                " já realizado no evento" + event_name, "warning");
          } else {
            notify(
              "Check in não realizado na ação "+ action_name +
              " do evento evento" + event_name, "danger");
          }
        },
        error: function (error) {
          console.log("Something went wrong!");
        }
      });
    }

    tracker.on('track', function(event) {
      i = canvas.toDataURL('image/png');
      context.clearRect(0, 0, canvas.width, canvas.height);
      event.data.forEach(function(rect) {
        context.strokeStyle = '#ff0000';
        context.strokeRect(rect.x, rect.y, rect.width, rect.height);
        context.font = '11px Helvetica';
        context.fillStyle = "#000";
        context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
        context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);
        //context.drawImage(video, rect.x, rect.y, rect.width, rect.height, rect.x, rect.y, rect.width, rect.height);
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        if((!detected) && (!send)){
          send = true;
          sendImage(i);
        }
      });
    });

    var snapshot = function() {
      if (localMediaStream) {
        i = canvas.toDataURL('image/png');
        document.querySelector('a').href = i;
        sendImage(i);
      }
    }

    video.addEventListener('click', snapshot, false);

    navigator.getUserMedia({video: true}, function(stream) {
      video.src = window.URL.createObjectURL(stream);
      localMediaStream = stream;
    }, function(error){console.error(error)});
  </script>
{% endblock %}
