{% extends 'components/base.html' %}

{% block title %}
  Editar
{% endblock %}

{% comment %}

{% block body %}
    <!-- ROW -->
    <div class="row">
      <!-- COL -->
      <div class="col-md-12">
        <div class="row">
          {% for event in events %}
            <div class="col-md-2">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{event.banner.url}}" alt="{{event.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{event.name}}</h5>
                  <p class="card-text">{{event.text}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
{% endblock %}

{% endcomment %}


{% block body %}
    <!-- ROW -->
    <div class="row">
      <!-- COL -->
      <div class="col-md-12">
        <h3>
          Faça seu cadastro para emissão de certificado <a href="{% url 'core:sing_up' %}"> aqui</a>.
        </h3>
      </div>
      <div class="col-md-12">
        <h3>
          Faça a emissão de certificado <a href="{% url 'core:certificate' %}"> aqui</a>.
        </h3>
      </div>
    </div>
{% endblock %}
