{% extends 'components/base.html' %}


{% block title %} {{ block.super }} Todos {% endblock title %}


{% block body %}
  <div class="row">
    <div class="col-md-12">
      <h2>Produtos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'event:product:add' event.id  %}" class="btn btn-primary" > Novo </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class='table'>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Data</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for product in object_list %}
              <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'event:product:detail' event.id product.id %}" class="btn btn-primary">Ver</a>
                    <a href="{% url 'event:product:edit' event.id product.id %}" class="btn btn-secondary">Editar</a>
                    <a href="{% url 'event:product:delete' event.id product.id %}" class="btn btn-danger">Deletar</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>


{% endblock %}
